* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-image: url("../../enelsonii.github.io/images/gravel.png");
}
#content {
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 20%; 
    background: white;
    font-family: 'Times New Roman', Times, serif
}
h2 {
    color: #4aaaab;
    font-family: 'Times New Roman', Times, serif
}
#place-holder {
    padding: 10px;
    background:#4aaaa5;
    text-align: center;
}
/** footer **/
footer {
    padding: 20px;
    clear: both;
    background: #777777;
    text-align: center;
}