/* Page font */
* {
    font-family: 'Times New Roman', Times, serif;
}
/* background texture */
body {
    background-image: url("../../enelsonii.github.io/images/gravel.png");
}
/* Page content */
#content {
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 20%; 
    background: white;
    border-style: solid;
    color: white;
    font-family: 'Times New Roman', Times, serif
}
row {
    padding: 5%;
}
/* Portfolio images */
img {
    border-style: solid;
    color: white;
}
/* Portfolio */
h2 {
    color: #4aaaab;
    font-family: 'Times New Roman', Times, serif
}
/* Placeholder */
#place-holder {
    padding: 10px;
    background:#4aaaa5;
    text-align: center;
}
/** footer **/
footer {
    padding: 20px;
    clear: both;
    background: #777777;
    color: white;
    text-align: center;
}
